.slider-box {
  margin-top: 62px;
  margin-right: -25px;
  margin-left: -25px;
  position: relative;
  .counter {
    position: absolute;
    left: 42%;
    top: -44px;
    font-family: 'Circe-Regular';
    font-weight: 400;
    display: block;
    letter-spacing: 2px;
    color: #989FAB;
    #total {
      font-size: 12px;
    }
    #current {
      font-size: 18px;
      color: $color-white;
    }
  }
  .slide-controls {
    .prev-loc,
    .next-loc {
      content: "";
      position: absolute;
      width: 25px;
      height: 50px;
      top: -50px;
      background: url("../images/arrow.svg") center no-repeat;
      background-color: #FFFFFF;
      padding: 10px 22px;
      z-index: 10;
      cursor: pointer;
      margin: auto;
      overflow: auto;
    }
    .prev-loc {
      left: 0;
    }
    .next-loc {
      right: 0;
      transform: rotate(180deg);
    }
  }
}

@include desktop {
  .slider-box {
    margin: auto;
    margin-bottom: 100px;
    .counter {
      display: none;
    }
    .slide-controls {
      .prev-loc,
      .next-loc {
        content: "";
        position: absolute;
        width: 25px;
        height: 50px;
        top: calc(50% - 25px);
        padding: 30px;
      }
    }
  }
}